*
!/.gitignore
!/card_maker
!/card_maker/**

!go.mod
!go.sum
!main.go
!make_card_test.go
!mass_producer_params.go
!mass_producer.go
!template_mass_producer_params_xlsx.json

!DeckBuild.lua
!README.md
!makefile

!gen.sh
!produce.sh
!test.sh